.excercises {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-left: 70px;
}

.excercises a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 391px) {
 .excercises{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-right: 10px;
    justify-content: center;
 }
}