.HorizontalScroll{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    align-items: center;
    cursor: pointer;
    padding: 30px;
    margin-bottom: 30px;
    transition: transform 0.2s ease-in-out; /* Smooth transition for the hover effect */
}

.HorizontalScroll img {
    width: 50px;
    margin-bottom: 50px;
}
.HorizontalScroll:hover {
    transform: scale(1.10); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
    border-radius: 12px;
    cursor: pointer; 
  }
.HorizontalScroll h2 {
    text-transform: capitalize;
}

.HorizontalScroll:hover{
    opacity: 1;
}

@media screen and (max-width: 391px) {
    .horizonatalScrollBar {
      display: grid;
      grid-template-columns: repeat(1, 1fr); /* Display items in a single column */
      grid-gap: 10px; /* Adjust the gap between items as needed */
      justify-items: center;

    }    
  }
  