
.excerciseContainer{
    display: flex;
    flex-direction: row;
}

.excerciseImage img {
    width: 700px;
    margin-left: 30px;
}

.target {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin-top: 30px;
    margin-bottom: 50px;
}

.target p {
   margin-left: 30px;
   margin-bottom: 10px;

}

.excercaiseDetails p {
    text-transform: capitalize;
}


.target img {
    border-radius: 8px;
    width: 70px;
}
.excercaiseDetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.excercaiseDetails p {
    font-size: 25px;
    margin-top: 20px;
    color: rgb(175, 175, 175);
}

.excercaiseDetails h1 {
    font-size: 50px;
    text-transform: capitalize;
}

@media screen and (max-width: 391px) {
    .excerciseContainer {
        display: flex;
        flex-direction: column;
    }

    .excerciseImage img {
        width: 400px;
    }

    .excercaiseDetails h1{
        text-align: center;
        font-size: 35px;
    }
    .excercaiseDetails p {
        font-size: 20px;
        color: rgb(118, 118, 118);
        text-align: left;
    }
    .targets{
        margin-left: 10px;
    }
}