
.excerciseContainer{
    display: flex;
    flex-direction: row;
}

.excerciseImage img {
    width: 650px;
}

.target {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin-top: 30px;
    margin-bottom: 50px;
}

.target p {
   margin-left: 30px;
   margin-bottom: 10px;

}

.excercaiseDetails p {
    text-transform: capitalize;
}


.target img {
    border-radius: 8px;
    width: 70px;
}
.excercaiseDetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.excercaiseDetails p {
    font-size: 25px;
    margin-top: 20px;
    color: rgb(175, 175, 175);
}

.excercaiseDetails h1 {
    font-size: 50px;
    text-transform: capitalize;
}