header{
    display: flex;
    align-items: center;
    padding: 20px;
    z-index: 0;
}
header img {
    margin-left: 60px;
}
nav ul{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

nav ul li {
    list-style: none;
    padding: 20px;
    font-size: 20px;
}

@media screen and (max-width: 391px) {
    header{
        display: none;
    }
}